

/* =========================
 base element style 
 ========================= */
 * {
     box-sizing: border-box;
 }

h1 {
    margin-top: 0;
    font-size: 1.5em;
}

body {
    line-height:  1.5;
    color: rgb(95, 95, 95);
    margin: 0;
}

a {
    color: rgb(243, 103, 103);
    text-decoration: none;
}

/* ----- base layout style -------- */

.name {
    color: black;
}

/* ----- container  styles -------- */

.main-header {
    background-color: rgb(0, 162, 255);
    padding: 1em 0;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-footer {
    text-align: center;
    background-color: rgb(0, 162, 255);
    padding: 2em 0;
}

/* ----- puesdo element s -------- */

.name a, 
.main-nav a {
    background: #fff;
    padding: 10px 15px;
    display: block;
}



/* ==================
media queries 
=================== */

@media (min-width: 650px) {
   
    .wrapper {
        min-height: calc(100vh - 89px);
    }

    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .name,
    .main-nav,
    .main-nav li {
        display: inline-block;
    }

    .name {
        width: 250px;
        margin-right: 50px;
        margin-top: 50px;
    }
}


