

/* =========================
 base element style 
 ========================= */
 * {
     box-sizing: border-box;
 }

h1 {
    margin-top: 0;
    font-size: 1.789em;
}

h2,
h3 {
    font-size: 1.5em;
}


body {
    line-height:  1.5;
    color: rgb(95, 95, 95);
    margin: 0;
}



/* =========================
 base layout style 
 ========================= */

/* ----- Navigation  -------- */


.name {
    color: black;
}

.title {
    padding: 150px auto;
    margin: auto;
    font-size: 1.685em;
    text-align: center;
}

/* ---- Layout Containers ---- */

.main-header {
    text-align: center;
    background-color: rgb(0, 162, 255);
    padding: 1em 0;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-footer {
    text-align: center;
    background-color: rgb(0, 162, 255);
    padding: 2em 0;
}

/* ----- puesdo -------- */

.name a, 
.main-nav a {
    background: #fff;
    padding: 10px 20px;
    display: block;
}

a {
    text-decoration: none;
}



/* ==================
media queries 
=================== */

@media (min-width: 700px) {
   
    .wrapper {
        min-height: calc(100vh - 89px);
    }

    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }

    /* .name,
    .main-nav li {
        display: inline-block;
    }

    .main-nav li {
        margin-right: 12px;
    }

    .name {
        float: right;
    }


    .name {
        width: 240px;
        margin-right: 50px;
        margin-top: 50px;
    }

    .advice-img {
        width: 300px;
        float: left;
        margin-top: 10px;
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 5px;
        border: solid 1px #d9e4ea;
        }
    } */


}


